Repository TencentBlueKing/bk-nodeman, pull requests merged in 2022-03, with the labels that each got.

#522 bugfix: 解决主机数量超过200时CMDB接口报错问题 (fixed #521)
  apps/node_man/constants.py
  apps/node_man/handlers/cmdb.py
  dev_log/2.2.2/durant_202203012030.yaml
  frontend/src/components/common/footer.vue
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
Labels: kind/bug, version/V2.2.X

#513 feature: Agent 安装默认值支持全局配置 (closed #445)
  apps/node_man/handlers/meta.py
  apps/node_man/models.py
  apps/node_man/tests/test_meta.py
  dev_log/2.2.2/crayon_202203021459.yaml
Labels: kind/feature, module/saas

#511 feature: 接入点支持配置内网回调地址 (closed #440)
  apps/node_man/models.py
  apps/node_man/serializers/ap.py
  dev_log/2.2.2/crayon_202203021501.yaml
Labels: kind/feature, module/saas

#525 bugfix: 资源配额相关的问题修复 (closed #523)
  dev_log/2.2.2/daoqgong_202203021820.yaml
  frontend/src/views/plugin/resource-quota/edit.vue
  frontend/src/views/plugin/resource-quota/index.vue
  frontend/src/views/plugin/resource-quota/resource-tree-item.vue
  frontend/src/views/plugin/resource-quota/resource-tree.vue
Labels: kind/bug

#528 optimization: 资源配额 - 搜索、业务下拉 优化 (closed #527)
  dev_log/2.2.2/daoqgong_202203031200.yaml
  frontend/src/components/common/bk-biz-select.vue
  frontend/src/views/plugin/resource-quota/index.vue
  frontend/src/views/plugin/resource-quota/resource-tree.vue
Labels: kind/optimization

#526 feature: Window直连Agent放开 端口的限制 (closed #507)
  dev_log/2.2.2/daoqgong_202203031145.yaml
  frontend/src/components/setup-table/install-table.vue
  frontend/src/css/install-table.css
  frontend/src/views/agent/agent-list.vue
  frontend/src/views/agent/agent-setup/agent-setup.vue
  frontend/src/views/agent/config/editTableConfig.ts
  frontend/src/views/agent/config/importTableConfig.js
  frontend/src/views/agent/config/setupTableConfig.ts
Labels: kind/feature

#533 feature: Cygwin 安装 Agent 支持 curl 拉取依赖文件 (closed #532)
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/common/remote.py
  apps/core/remote/conns/asyncssh_impl.py
  apps/core/remote/conns/base.py
  apps/core/remote/conns/paramiko_impl.py
  apps/core/remote/tests/base.py
  dev_log/2.2.2/crayon_202203031521.yaml
Labels: kind/feature, module/backend, version/V2.2.X

#534 feature: Agent 安装默认值支持全局配置 (closed #512)
  dev_log/2.2.2/daoqgong_202203041012 .yaml
  frontend/src/config/config.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/main.ts
  frontend/src/views/agent/agent-list.vue
  frontend/src/views/agent/agent-setup/agent-setup.vue
  frontend/src/views/agent/config/editTableConfig.ts
  frontend/src/views/agent/config/importTableConfig.js
  frontend/src/views/agent/config/setupTableConfig.ts
  frontend/src/views/cloud/cloud-manager-add/cloud-manager-setup.vue
  frontend/src/views/cloud/config/netTableConfig.ts
Labels: kind/feature

#535 bugfix: 修复存在未完成任务时，已失败的任务会重复刷错误日志的问题 (closed #520)
  apps/backend/components/collections/base.py
  dev_log/2.2.2/crayon_202203041126.yaml
Labels: kind/bug, module/backend

#539 feature: 修复无权限loading、补充空缺时的填充内容 (closed #537)
  dev_log/2.2.2/daoqgong_202203041646.yaml
  frontend/src/components/exception/exception-page.vue
  frontend/src/views/plugin/resource-quota/edit.vue
  frontend/src/views/plugin/resource-quota/index.vue
Labels: kind/bug

#542 bugfix: 资源配额配置回填不正确 (closed #541)
  dev_log/2.2.2/daoqgong_202203041733.yaml
  frontend/src/views/plugin/resource-quota/edit.vue
Labels: kind/bug

#548 feature: 接入点支持配置内网回调地址 (closed #440)
  dev_log/2.2.5/daoqgong_202203071117.yaml
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  frontend/src/store/modules/config.ts
  frontend/src/types/config/config.ts
  frontend/src/views/global-config/gse-config/access-point-table.vue
  frontend/src/views/global-config/gse-config/set-access-point/apFormConfig.ts
  frontend/src/views/global-config/gse-config/set-access-point/step-host.vue
  frontend/src/views/global-config/gse-config/set-access-point/step-info.vue
Labels: kind/bug

#546 bugfix: 调整Agent 批量操作按钮跨页全选模式 (closed #498)
  dev_log/2.2.5/daoqgong_202203071207.yaml
  frontend/src/store/modules/agent.ts
  frontend/src/views/agent/agent-list.vue
Labels: kind/bug

#549 bugfix: 部署策略灰度列表展开错位 (closed #449)
  dev_log/2.2.5/daoqgong_202203071541.yaml
  frontend/src/views/plugin/plugin-rule/plugin-rule-list/plugin-rule-table.vue
Labels: kind/bug, module/frontend

#547 bugfix: 修复卸载 Agent 失败: not enough values to unpack (expected 2, got 1) 的问题(closed #544)
  apps/backend/agent/tools.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  dev_log/2.2.5/crayon_202203071206.yaml
Labels: kind/bug, module/backend, version/V2.2.X, priority/high

#553 bugfix: 修复 Proxy dataflow.conf addresses 渲染值有误的问题 (fixed #552)
  apps/backend/views.py
  dev_log/2.2.5/crayon_202203071709.yaml
Labels: kind/bug, module/backend, version/V2.2.X, priority/high

#556 bugfix: 修复 Windows 通过 Cygwin 安装 Agent 密码解密失败的问题 (fixed #555)
  apps/backend/agent/tools.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  dev_log/2.2.5/crayon_202203072105.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#559 feature: PaaS 镜像部署适配 (closed #558)
  app_desc.yaml
  bin/pre-release
  bin/start_web.sh
  dev_log/2.2.5/crayon_202203072220.yaml
Labels: kind/feature, module/framework, version/V2.2.X

#561 bugfix: Agent 状态查询提前终止后卡住 (fixed #524)
  apps/backend/components/collections/agent_new/get_agent_status.py
  apps/backend/components/collections/agent_new/install.py
  dev_log/2.2.5/crayon_202203081146.yaml
Labels: kind/bug, module/backend, version/V2.2.X, pr/deferred(暂不合入)

#560 feature: 子订阅功能 (close #517)
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/base.py
  apps/backend/components/collections/agent_new/components.py
  apps/backend/components/collections/agent_new/install_plugins.py
  apps/backend/components/collections/base.py
  apps/backend/components/collections/plugin.py
  apps/backend/components/collections/subsubscription.py
  apps/backend/subscription/steps/agent.py
  apps/backend/tests/components/collections/agent_new/test_install_plugins.py
  apps/mock_data/common_unit/plugin.py
  apps/mock_data/common_unit/subscription.py
  apps/node_man/tests/test_job.py
  apps/node_man/tests/utils.py
  common/api/modules/utils.py
  dev_log/2.2.5/durant_202203072254.yaml
  static/index.html
Labels: kind/feature, module/backend, version/V2.2.X

#563 bugfix: 修复PAGENT上游节点错误的问题 (close #458)
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/base.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/agent_new/reload_agent_config.py
  dev_log/2.2.5/durant_202203081825.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#568 docs: Agent 安装压力测试文档 (closed #476)
  dev_log/2.2.5/crayon_202203090041.yaml
  docs/benchmark/agent_install/README.md
  docs/benchmark/agent_install/agent_install_data.xlsx
  docs/benchmark/agent_install/img/deploy.png
  docs/core/remote/README.md
  docs/core/remote/img/remote_conns.jpg
Labels: kind/docs, version/V2.2.X, module/docs

#567 test: 完善单元测试
  apps/backend/tests/components/collections/plugin/utils.py
  apps/backend/tests/subscription/test_policy.py
  apps/backend/tests/subscription/test_views.py
  apps/core/concurrent/tests/test_controller.py
  apps/node_man/tests/test_pluginv2.py
  apps/utils/unittest/testcase.py
Labels: kind/test, module/backend, module/saas, version/V2.2.X

#564 sprintfix: 修复Agent 安装流程终止卡死的问题
  apps/backend/components/collections/agent_new/get_agent_status.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/base.py
Labels: kind/bug, module/backend, version/V2.2.X

#566 bugfix: 安装预装插件时不存在的插件包报错 (close #565)
  apps/backend/api/constants.py
  apps/backend/components/collections/agent_new/install_plugins.py
  apps/backend/components/collections/subsubscription.py
  apps/backend/tests/components/collections/agent_new/test_install_plugins.py
  dev_log/2.2.5/durant_202203082248.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#576 optimization: 多内网IP兼容 (closed #572)
  apps/backend/components/collections/job.py
  apps/backend/tests/components/collections/agent_new/base.py
  dev_log/2.2.7/crayon_202203102136.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#579 bugfix: 修复选择接入点报错 could not convert string to float (fixed #578)
  apps/backend/components/collections/agent_new/choose_access_point.py
  dev_log/2.2.7/crayon_202203102259.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#577 bugfix: 修复作业平台少数IP超时导致整体任务失败的问题 (fixed #573)
  apps/backend/components/collections/job.py
  apps/backend/tests/components/collections/agent_new/base.py
  apps/backend/tests/components/collections/agent_new/test_reload_agent_config.py
  apps/backend/tests/components/collections/agent_new/utils.py
  apps/node_man/constants.py
  dev_log/2.2.7/crayon_202203092305.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#590 bugfix: 无法编辑保存proxy主机信息 (closed #589)
  dev_log/2.2.7/daoqgong_20220301509456yaml
  frontend/src/store/modules/cloud.ts
Labels: kind/bug

#591 bugfix: 手动卸载没有给出命令 (closed #581)
  dev_log/2.2.7/daoqgong_202203151030.yaml
  frontend/src/views/task/task-detail-table.vue
  frontend/src/views/task/task-log.vue
Labels: kind/bug

#592 bugfix: 修复 Agent 安装失败：'NoneType' object has no attribute 'get' 的问题 (f…
  apps/backend/components/collections/agent_new/query_password.py
  dev_log/2.2.7/crayon_202203151109.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#593 bugfix: 修复手动安装命令获取失败的问题 (fixed #586)
  apps/backend/agent/tools.py
  dev_log/2.2.7/crayon_202203151113.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#595 optimization: 仅初始化情况下更新默认接入点下载地址 (closed #594)
  apps/backend/management/commands/copy_file_to_nginx.py
  dev_log/2.2.7/crayon_202203151130.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#600 optimization: 插件订阅变更计算优化 (closed #599)
  apps/backend/components/collections/plugin.py
  apps/backend/subscription/steps/plugin.py
  apps/backend/subscription/tools.py
  apps/node_man/models.py
  dev_log/2.2.8/crayon_202203172040.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#602 bugfix: 已重试成功主机，下次重试仍会执行 (closed #350)
  apps/backend/subscription/handler.py
  dev_log/2.2.8/crayon_202203181023.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#607 bugfix: 标准运维接口调用问题修复 (fixed #606)
  apps/backend/tests/components/collections/agent_new/test_configure_policy.py
  apps/node_man/handlers/security_group.py
  common/api/modules/sops.py
  dev_log/2.2.8/durant_202203181722.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#608 feature: 作业平台业务集支持 (close #604)
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/job.py
  apps/node_man/constants.py
  dev_log/2.2.8/durant_202203181752.yaml
Labels: kind/feature, module/backend, version/V2.2.X

#609 bugfix: Agent安装为Proxy未更新节点类型 (fixed #605)
  apps/backend/components/collections/agent_new/register_host.py
  apps/backend/tests/components/collections/agent_new/test_register_host.py
  apps/backend/tests/components/collections/agent_new/utils.py
  dev_log/2.2.8/durant_202203182054.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#611 bugfix: 修复协程 MySQL server has gone away 的问题 (closed #610)
  apps/backend/components/collections/agent_new/choose_access_point.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/common/remote.py
  apps/utils/concurrent.py
  apps/utils/exc.py
  apps/utils/sync.py
  dev_log/2.2.8/crayon_202203211130.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#613 bugfix: 安装 Proxy 去除 check_policy_gse_to_proxy 步骤 (fixed #612)
  apps/backend/subscription/steps/agent.py
  dev_log/2.2.7/daoqgong_202203150945.yaml
  dev_log/2.2.8/durant_202203212038.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#614 feature: 依赖包升级 (closed #601)
  dev_log/2.2.8/daoqgong_202203180947.yaml
  frontend/package-lock.json
  frontend/package.json
Labels: kind/dependencies

#617 optimization: Windows安装使用ntrights添加权限 (close #616)
  apps/backend/components/collections/agent_new/install.py
  dev_log/2.2.8/durant_202203222244.yaml
  script_tools/ntrights.exe
  script_tools/setup_agent.bat
  script_tools/setup_pagent.py
Labels: kind/optimization, version/V2.2.X, module/script

#621 optimization: Django Admin 优化 (close #619)
  apps/node_man/admin.py
  apps/node_man/constants.py
  apps/node_man/models.py
  apps/node_man/periodic_tasks/__init__.py
  apps/node_man/periodic_tasks/clean_requests_tracker_records.py
  apps/node_man/tests/test_pericdic_tasks/test_clean_related_task.py
  apps/node_man/views/__init__.py
  config/default.py
  dev_log/2.2.9/durant_202203232018.yaml
  pack.sh
  requests_tracker/__init__.py
  requests_tracker/admin.py
  requests_tracker/apps.py
  requests_tracker/exceptions.py
  requests_tracker/filtering/__init__.py
  requests_tracker/filtering/categories.py
  requests_tracker/filtering/columns.py
  requests_tracker/filtering/filters.py
  requests_tracker/filtering/handlers.py
  requests_tracker/http_methods.py
  requests_tracker/migrations/0001_initial.py
  requests_tracker/migrations/0002_record_request_host.py
  requests_tracker/migrations/0003_exclude_login_transaction.py
  requests_tracker/migrations/0004_auto_20200314_2120.py
  requests_tracker/migrations/0005_initial_config_is_track.py
  requests_tracker/migrations/0006_auto_20210722_1733.py
  requests_tracker/migrations/__init__.py
  requests_tracker/models.py
  requests_tracker/monkey.py
  requests_tracker/requests/__init__.py
  requests_tracker/requests/sessions.py
  requests_tracker/signals/__init__.py
  requests_tracker/signals/handlers.py
  requests_tracker/states.py
  requests_tracker/templates/requests_tracker/request.tmpl
  requests_tracker/templates/requests_tracker/response.tmpl
  requests_tracker/utils/__init__.py
  requests_tracker/utils/collections.py
  requests_tracker/utils/http_message.py
  requests_tracker/utils/unique.py
Labels: kind/optimization, module/framework, version/V2.2.X

#623 optimization: 安装 PROXY 时下发的安装包使用接入点指定的包 (close #622)
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/push_files_to_proxy.py
  apps/backend/tests/components/collections/agent_new/test_push_files_to_proxy.py
  dev_log/2.2.9/durant_202203241222.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#631 minor: metrics 接口免登录
  apps/node_man/urls.py
  apps/node_man/views/__init__.py
  urls.py
Labels: kind/optimization, module/framework, version/V2.2.X

#635 optimization: subscription statistic 接口缓存不生效的问题 (close #634)
  apps/backend/subscription/tools.py
  apps/backend/tests/subscription/test_tools.py
  dev_log/2.2.9/durant_202203282112.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#640 bugfix: CMDB 资源池删除主机后节点管理未同步 (fixed #639)
  apps/node_man/periodic_tasks/resource_watch_task.py
  apps/node_man/tests/test_pericdic_tasks/test_resource_watch_task.py
  dev_log/2.2.9/durant_202203301755.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#641 optimization: Agent 非 root 安装切换 sudo 执行安装命令 (closed #637)
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/choose_access_point.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  dev_log/2.2.9/crayon_202203302212.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#643 sprintfix: Agent 安装仅非 root 用户切换 sudo (fixed #637)
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/choose_access_point.py
  apps/backend/tests/components/collections/agent_new/test_install.py
Labels: kind/bug, module/backend, version/V2.2.X

#644 bugfix: 同名多配置文件渲染时过滤错误(close #624)
  apps/backend/subscription/steps/adapter.py
  apps/backend/tests/subscription/test_policy.py
Labels: kind/bug, module/backend, version/V2.2.X
