Repository TencentBlueKing/bk-nodeman, pull requests merged in 2022-12, with the labels that each got.

#1300 bugfix: 调试插件时，延后渲染配置模板的文件名称
  apps/backend/plugin/views.py
Labels: kind/bug

#1303 optimization: 主机更新场景下同步逻辑处理优化 (closed #1282)
  .github/workflows/auto_version_release.yml
  .github/workflows/codecov.yml
  .github/workflows/python-app.yml
  apps/node_man/models.py
  apps/node_man/periodic_tasks/resource_watch_task.py
Labels: kind/optimization, module/backend, version/V2.2.X

#1295 feature: 安装同时提供 IPv4 / IPv6 的填写选项 (closed #1257)
  dev_log/2.2.32/daoqgong_202211301839.yaml
  frontend/src/common/form-check.ts
  frontend/src/common/util.ts
  frontend/src/components/common/verify-input.vue
  frontend/src/components/setup-table/install-input-type.vue
  frontend/src/components/setup-table/install-table.vue
  frontend/src/components/setup-table/setup-table.vue
  frontend/src/components/setup-table/table-header-tip.vue
  frontend/src/config/config.ts
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  frontend/src/types/index.ts
  frontend/src/views/agent/agent-setup/agent-import.vue
  frontend/src/views/agent/agent-setup/agent-setup.vue
  frontend/src/views/agent/components/create-excel.ts
  frontend/src/views/agent/components/parser-excel.vue
  frontend/src/views/agent/config/editTableConfig.ts
  frontend/src/views/agent/config/importTableConfig.js
  frontend/src/views/agent/config/setupTableConfig.ts
  frontend/src/views/cloud/cloud-manager-add/cloud-manager-setup.vue
  frontend/src/views/cloud/cloud-manager-detail/cloud-detail-table.vue
  frontend/src/views/cloud/cloud-manager-detail/cloud-manager-detail.vue
  frontend/src/views/cloud/components/sideslider-content-edit.vue
  frontend/src/views/cloud/config/netTableConfig.ts
  frontend/src/views/cloud/config/proxy-detail-config.js
Labels: kind/feature

#1322 sprintfix: 重装主机时寻址方式只读
  frontend/src/views/agent/config/editTableConfig.ts
Labels: kind/feature

#1265 bugfix: 升级脚本操作系统匹配规则错误 (closed #1264)
  dev_log/2.2.32/xcwang_202211222210.yaml
  script_tools/upgrade_agent.sh.tpl
Labels: module/backend, version/V2.2.X, module/script

#1310 feature: 支持 upgrade_to_agent_id (close #1309)
  apps/adapters/api/gse/base.py
  apps/adapters/api/gse/v1.py
  apps/adapters/api/gse/v2.py
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/components.py
  apps/backend/components/collections/agent_new/upgrade_to_agent_id.py
  apps/backend/subscription/steps/agent.py
  apps/backend/subscription/tasks.py
  apps/backend/tests/components/collections/agent_new/test_upgrade_to_agent_id.py
  apps/backend/tests/utils/__init__.py
  apps/backend/tests/utils/test_data_renderer.py
  apps/mock_data/api_mkd/gse/unit.py
  apps/mock_data/api_mkd/gse/utils.py
  common/api/modules/gse.py
  dev_log/2.2.32/durant_202212081021.yaml
Labels: kind/feature

#1324 bugfix: 修复 Windows 2.0 Agent 无法卸载的问题 (fixed #1317)
  dev_log/2.2.32/crayon_202212072118.yaml
  script_tools/agent_tools/agent2/setup_agent.bat
Labels: kind/bug, version/V2.2.X, module/script

#1325 bugfix: 开启 DHCP 适配时指定 Agent 2.0 安装及 AgentID 切换 (closed #1316)
  apps/adapters/api/gse/v2.py
  apps/backend/subscription/steps/agent.py
  apps/core/files/file_source.py
  apps/node_man/models.py
  apps/node_man/serializers/job.py
  dev_log/2.2.32/crayon_202212081808.yaml
  docs/solution/how-to-install-agent2.md
  locale/en/LC_MESSAGES/django.po
  support-files/kubernetes/helm/bk-nodeman/README.md
Labels: kind/feature, version/V2.2.X, module/docs

#1326 feature: 认证信息支持递归解密 (closed #1305)
  apps/node_man/tests/test_tools/test_host.py
  apps/node_man/tools/host.py
  dev_log/2.2.32/xcwang_202212081712.yaml
Labels: version/V2.2.X

#1329 feature: Agent 升级功能问题修复（Windows 压缩工具下发，Linux 脚本 CPU 架构校验等）(close #1328)"
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/push_upgrade_package.py
  apps/backend/components/collections/agent_new/run_upgrade_command.py
  apps/backend/subscription/steps/agent.py
  apps/backend/tests/components/collections/agent_new/test_push_upgrade_package.py
  apps/backend/tests/components/collections/agent_new/test_run_upgrade_command.py
  dev_log/2.2.32/durant_202212091137.yaml
  script_tools/upgrade_agent.sh.tpl
Labels: kind/bug

#1323 optimization: IPv4 / IPv6 选项必填提示优化 (closed 1308)
  dev_log/2.2.32/daoqgong_202212071827.yaml
  frontend/src/components/setup-table/install-table.vue
  frontend/src/components/setup-table/table-header-tip.vue
  frontend/src/components/setup-table/table-header.vue
  frontend/src/i18n/en.js
  frontend/src/i18n/zh.js
  frontend/src/views/agent/config/editTableConfig.ts
  frontend/src/views/agent/config/importTableConfig.js
  frontend/src/views/agent/config/setupTableConfig.ts
  frontend/src/views/cloud/cloud-manager-add/cloud-manager-setup.vue
  frontend/src/views/cloud/config/netTableConfig.ts
Labels: kind/optimization

#1301 feature: 安装 Agent 后下发主机身份 (closed #963)
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/components.py
  apps/backend/components/collections/agent_new/push_host_identifier.py
  apps/backend/subscription/steps/agent.py
  apps/backend/tests/components/collections/agent_new/test_push_host_identifier.py
  apps/mock_data/api_mkd/cmdb/unit.py
  apps/mock_data/api_mkd/cmdb/utils.py
  apps/node_man/models.py
  common/api/modules/cc.py
  dev_log/2.2.32/xcwang_202211302326.yaml
Labels: kind/feature, module/backend, priority/high

#1336 feature: P-Agent 安装时更新 Agent 2.0 安装包到 Proxy (close #1315)
  apps/backend/agent/manager.py
  apps/backend/components/collections/agent_new/base.py
  apps/backend/components/collections/agent_new/components.py
  apps/backend/components/collections/agent_new/push_agent_pkg_to_proxy.py
  apps/backend/components/collections/agent_new/push_upgrade_package.py
  apps/backend/components/collections/agent_new/run_upgrade_command.py
  apps/backend/components/collections/job.py
  apps/backend/plugin/views.py
  apps/backend/subscription/steps/agent.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  apps/backend/tests/components/collections/agent_new/test_push_agent_pkg_to_proxy.py
  apps/backend/tests/components/collections/agent_new/test_push_files_to_proxy.py
  apps/backend/tests/components/collections/agent_new/utils.py
  apps/backend/tests/plugin/utils.py
  apps/backend/tests/utils/test_data_renderer.py
  apps/backend/utils/data_renderer.py
  apps/node_man/constants.py
  apps/node_man/models.py
  dev_log/2.2.32/durant_202212141643.yaml
Labels: kind/feature

#1341 bugfix: 2.0 Proxy data file endpoint 渲染值有误 (fixed #1340)
  apps/backend/agent/tools.py
  apps/backend/subscription/steps/agent_adapter/adapter.py
  apps/backend/subscription/steps/agent_adapter/config_context/context_dataclass.py
  apps/backend/subscription/steps/agent_adapter/config_context/context_helper.py
  apps/backend/subscription/steps/agent_adapter/config_templates.py
  dev_log/2.2.32/crayon_202212151817.yaml
  script_tools/agent_tools/agent2/setup_proxy.sh
Labels: kind/bug, module/backend, version/V2.2.X, module/script

#1355 optimization: 提供更规范的 CI 流程 (closed #1354)
  .github/configuration.json
  .github/workflows/auto_version_release.yml
  .github/workflows/codecov.yml
  .github/workflows/python-app.yml
  .github/workflows/release_1_push_rc_tag.yml
  .github/workflows/release_2_create_release.yml
  scripts/workflows/release/upgrade_release_log.py
Labels: kind/optimization, module/workflow, module/build

#1358 optimization: 提供更规范的 CI 流程 (closed #1354)
  .github/configuration.json
  .github/workflows/auto_version_release.yml
  .github/workflows/codecov.yml
  .github/workflows/python-app.yml
  .github/workflows/release_1_push_rc_tag.yml
  .github/workflows/release_2_create_release.yml
  scripts/workflows/release/upgrade_release_log.py
Labels: kind/optimization, module/workflow, module/script

#1365 optimization: Windows 卸载成功状态判断逻辑优化 (closed #1345)
  script_tools/agent_tools/agent2/setup_agent.bat
Labels: kind/optimization, module/script

#1367 optimization: IPv6 场景下通过 HostID 获取作业平台主机失败详情 (closed #1366)
  apps/backend/components/collections/job.py
Labels: kind/optimization, module/backend
