Repository TencentBlueKing/bk-nodeman, pull requests merged in 2022-05, with the labels that each got.

#728 optimization: Windows Agent 安装脚本移除启动插件相关逻辑(close #726)
  dev_log/2.2.13/xcwang_202205051850.yaml
  script_tools/setup_agent.bat
Labels: kind/optimization, version/V2.2.X, module/script

#730 optimization: 检查订阅任务是否就绪接口任务ID列表为空时取最新任务ID进行判断(close #713)
  apps/backend/subscription/handler.py
  apps/backend/tests/subscription/test_views.py
  dev_log/2.2.13/xcwang_202205052022.yaml
Labels: module/backend, version/V2.2.X

#724 feature: 安装主插件支持检查是否存在并跳过 (closed #509)
  apps/backend/subscription/steps/adapter.py
  apps/backend/subscription/steps/plugin.py
  apps/backend/subscription/tasks.py
  apps/node_man/models.py
  apps/node_man/periodic_tasks/sync_proc_status_task.py
  apps/node_man/tests/test_pericdic_tasks/test_sync_proc_status_task.py
  dev_log/2.2.13/crayon_202205012302.yaml
Labels: kind/feature, module/backend, version/V2.2.X

#734 optimization: 提供更准确的 GSE 服务发现规则 (closed #733)
  apps/node_man/periodic_tasks/gse_svr_discovery.py
  apps/node_man/tests/test_pericdic_tasks/mock_data.py
  apps/node_man/tests/test_pericdic_tasks/test_gse_svr_discovery.py
  dev_log/2.2.13/crayon_202205071714.yaml
Labels: kind/optimization, module/saas, version/V2.2.X

#742 feature: 插件配置模板新增节点管理侧上下文 (closed #741)
  apps/backend/subscription/tools.py
  dev_log/2.2.13/crayon_202205111516.yaml
Labels: kind/feature, module/backend, version/V2.2.X

#744 optimization: celery 启动命令优化 (closed #743)
  bin/hooks/start_cmds/celery/start-psworker
  dev_log/2.2.13/crayon_202205112202.yaml
  support-files/kubernetes/helm/bk-nodeman/README.md
  support-files/templates/#etc#supervisor-bknodeman-nodeman.conf
Labels: kind/optimization, module/build, version/V2.2.X, module/script

#746 feature: bkunifylogbeat cpu limit 调整为 30% (closed #745)
  apps/backend/components/collections/plugin.py
  dev_log/2.2.13/crayon_202205112234.yaml
Labels: kind/feature, module/backend, version/V2.2.X

#750 feature: 多环境部署镜像差异化构建方案 (closed #735)
  Makefile
  dev_log/2.2.14/crayon_202205122209.yaml
  support-files/kubernetes/images/family_bucket/Dockerfile
Labels: kind/feature, module/build, version/V2.2.X

#762 bugfix: 订阅状态统计不准确 (closed #758)
  apps/backend/components/collections/plugin.py
  apps/backend/subscription/handler.py
  dev_log/2.2.14/crayon_202205181544.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#764 optimization: 完善 CMDB 资源监听处理日志 (closed #763)
  apps/node_man/models.py
  apps/node_man/periodic_tasks/resource_watch_task.py
  apps/node_man/periodic_tasks/sync_cmdb_host.py
  dev_log/2.2.14/crayon_202205181614.yaml
Labels: kind/optimization, module/backend, version/V2.2.X, priority/high

#766 optimization: 主机存在性校验兼容 CMDB 注册延迟 (closed #765)
  apps/backend/components/collections/agent_new/register_host.py
  dev_log/2.2.14/crayon_202205181628.yaml
Labels: kind/optimization, module/backend, version/V2.2.X, priority/high

#768 optimization: celery 队列消费不及时 (closed #767)
  dev_log/2.2.14/crayon_202205181640.yaml
  support-files/templates/#etc#supervisor-bknodeman-nodeman.conf
Labels: kind/bug, module/backend, version/V2.2.X, module/script

#771 minor: CMDB 事件变更移除无效cc字段 (#770)
  apps/node_man/periodic_tasks/resource_watch_task.py
Labels: kind/optimization, module/backend, version/V2.2.X

#773 bugfix: 非直连 Windows 机器安装 Agent, gsecmdline 报错 (closed #664)
  apps/node_man/constants.py
  dev_log/2.2.15/xcwang_202205231326.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#789 sprintfix: 插件进程操作查询不到结果 (#780)
  apps/backend/components/collections/plugin.py
Labels: kind/bug, module/backend, version/V2.2.X

#792 bugfix: 安装预设插件检查任务是否就绪不准确 (#790)
  apps/backend/components/collections/subsubscription.py
  apps/backend/tests/components/collections/agent_new/test_install_plugins.py
  apps/mock_data/common_unit/subscription.py
  apps/node_man/tests/utils.py
  common/api/modules/bk_node.py
  dev_log/2.2.15/crayon_202205301628.yaml
  support-files/templates/#etc#supervisor-bknodeman-nodeman.conf
Labels: kind/bug, module/backend, version/V2.2.X

#795 optimization: 页面安装插件不展示子配置 (closed #793)
  apps/node_man/handlers/plugin_v2.py
  apps/node_man/tests/test_pluginv2.py
  dev_log/2.2.15/crayon_202205302325.yaml
Labels: kind/optimization, module/saas, version/V2.2.X
