Repository TencentBlueKing/bk-nodeman, pull requests merged in 2022-10, with the labels that each got.

#1154 bugfix: Windows Agent 重装后采集丢失 (closed #1152)
  dev_log/2.2.28/xcwang_202209291617.yaml
  script_tools/setup_agent.bat
Labels: version/V2.2.X, module/script

#1160 bugfix: Windows Agent 重装后采集丢失 (closed #1152)
  dev_log/2.2.29/xcwang_202209291617.yaml
  script_tools/setup_agent.bat
Labels: module/backend, version/V2.2.X, module/script

#1175 feature: Agent 2.0 Linux Agent 安装脚本 (closed #1166)
  dev_log/2.2.29/xcwang_202210181211.yaml
  script_tools/agent_tools/agent2/setup_agent.sh
Labels: module/backend, module/script

#1178 feature: Agent 2.0 Proxy 安装脚本 (1167 #closed)
  dev_log/2.2.29/xcwang_202210201540.yaml
  script_tools/agent_tools/agent2/setup_proxy.sh
  script_tools/gsectl/proxy/linux/gsectl
Labels: module/backend, module/script

#1159 feature: 直连 Agent2.0 安装后台适配 (closed #1158)
  apps/adapters/api/gse/v2.py
  apps/backend/agent/manager.py
  apps/backend/agent/solution_maker.py
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/base.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/components/collections/agent_new/render_and_push_gse_config.py
  apps/backend/components/collections/base.py
  apps/backend/components/collections/plugin.py
  apps/backend/constants.py
  apps/backend/exceptions.py
  apps/backend/subscription/steps/agent.py
  apps/backend/subscription/steps/agent_adapter/__init__.py
  apps/backend/subscription/steps/agent_adapter/adapter.py
  apps/backend/subscription/steps/agent_adapter/base.py
  apps/backend/subscription/steps/agent_adapter/config_context/__init__.py
  apps/backend/subscription/steps/agent_adapter/config_context/context_dataclass.py
  apps/backend/subscription/steps/agent_adapter/config_context/context_helper.py
  apps/backend/subscription/steps/agent_adapter/config_templates.py
  apps/backend/subscription/steps/agent_adapter/legacy.py
  apps/backend/subscription/tasks.py
  apps/backend/subscription/views.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  apps/backend/tests/components/collections/agent_new/test_render_and_push_gse_config.py
  apps/backend/tests/view/base.py
  apps/backend/tests/view/test_get_gse_config.py
  apps/backend/views.py
  apps/core/tag/admin.py
  apps/core/tag/base.py
  apps/core/tag/handlers.py
  apps/core/tag/migrations/0002_visiblerange.py
  apps/core/tag/models.py
  apps/node_man/constants.py
  apps/node_man/handlers/job.py
  apps/node_man/serializers/job.py
  apps/node_man/tests/test_handlers/test_job.py
  apps/node_man/views/job.py
  dev_log/2.2.29/crayon_202210120950.yaml
  script_tools/agent_tools/agent2/.gitkeep
Labels: kind/feature, module/backend, module/saas, version/V2.2.X

#1188 bugfix: 前端构建报错：Module not found: Error: Can't resolve './JSEncrypt' i…
  dev_log/2.2.30/crayon_202210251609.yaml
  frontend/package.json
Labels: kind/bug, module/build, version/V2.2.X, priority/high

#1185 feature: 部分资源权限审批人切换为实例所有者 (closed #1184)
  apps/node_man/iam_provider.py
  dev_log/2.2.30/crayon_202210250952.yaml
Labels: kind/feature, module/saas, version/V2.2.X

#1191 bugfix: 安装 Agent 新增主机到 CMDB 报错 (fixed #1190)
  apps/backend/components/collections/agent_new/add_or_update_hosts.py
  dev_log/2.2.30/crayon_202210261519.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#1193 bugfix: 修复 Windows Agent2.0 安装获取配置文件失败的问题 (fixed #1192)
  apps/backend/subscription/steps/agent_adapter/adapter.py
  dev_log/2.2.30/crayon_202210271040.yaml
Labels: kind/bug, module/backend, version/V2.2.X

#1195 feature: 安装 Agent 前置脚本执行 (closed #1173)
  apps/backend/agent/solution_maker.py
  apps/backend/agent/tools.py
  apps/backend/components/collections/agent_new/base.py
  apps/backend/components/collections/agent_new/install.py
  apps/backend/subscription/views.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  apps/core/script_manage/__init__.py
  apps/core/script_manage/base.py
  apps/core/script_manage/data.py
  apps/core/script_manage/handlers.py
  apps/node_man/serializers/job.py
  apps/node_man/views/job.py
  dev_log/2.2.30/crayon_202210281310.yaml
  script_tools/script_manage_tmp/active_firewall_policy.bat
  script_tools/script_manage_tmp/firewall_off.bat
Labels: kind/feature, module/backend, version/V2.2.X, module/script

#1199 bugfix: 2.0 P-Agent 安装报错：gse_agent Worker not found (closed #1179)
  dev_log/2.2.30/xcwang_202210281707.yaml
  script_tools/agent_tools/agent2/setup_agent.sh
  script_tools/agent_tools/agent2/setup_proxy.sh
  script_tools/gsectl/agent/linux/gsectl
Labels: module/backend, module/script

#1200 feature: Windows Agent 安装依赖文件更新 (closed #1197)
  apps/node_man/constants.py
  dev_log/2.2.30/xcwang_202210281707.yaml
  dev_log/2.2.31/crayon_202210291243.yaml
  dev_log/2.2.31/xcwang_202210281707.yaml
  pack.sh
  script_tools/agent_tools/agent2/setup_agent.bat
  script_tools/gsectl/agent/windows/gsectl.bat
  script_tools/jq.exe
  support-files/kubernetes/images/family_bucket/Dockerfile
  support-files/kubernetes/images/family_bucket/docs2unix.sh
Labels: module/backend, version/V2.2.X, kind/dependencies

#1201 optimization: Agent 安装日志展示优化 (closed #1198)
  apps/backend/components/collections/agent_new/install.py
  dev_log/2.2.31/crayon_202210311003.yaml
Labels: kind/optimization, module/backend, version/V2.2.X

#1206 feature: Agent 安装前置脚本执行支持单命令下发 (closed #1205)
  apps/backend/agent/solution_maker.py
  apps/backend/tests/components/collections/agent_new/test_install.py
  apps/core/script_manage/base.py
  apps/core/script_manage/data.py
  dev_log/2.2.31/crayon_202210312129.yaml
Labels: kind/feature, module/backend, version/V2.2.X
